# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Env / secrets
.env
.env.*
!.env.example

# Node / React
node_modules/
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

*.log

# Editor / OS
.vscode/
.idea/
.DS_Store
